ion-title {
    text-align: center;
}
ion-card-content {
    text-align: center;
}
ion-card-title {
    text-align: center;
    font-size: 18px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
}

ion-button {
    margin-top: 15px;
}
#post{
    margin-left:5px ;
}

.text{

    width: 10rem;
}